<center>
    <div class="iterator">
    <% if(page !== 1 && page > 6){ %>
        <a href="/page/1"><<</a>
    <% } %>
    <% for(let i = page-5; i <= page+5; i++){ %>
        <% if (i <= 0){ %>
            <% i = 1 %>
    <% } %>
        <% if(i > lastPage && i !== 1){ %>
            <% break %>
    <% } %>
        <% if(i === page){ %>
            <span><%= i %></span>
        <% }else{ %>
            <a href="/page/<%=i%>"><%=i%></a>
        <% } %> 

    <%} %>
    <% if(page !== lastPage && page < lastPage-5){ %>
        <a href="/page/<%=lastPage%>">>></a>
    <% } %>
    </div>
</center>