<!DOCTYPE html>
<html lang="en">
  <%- include("components/head", {style: 'index', icon: 'hueylewis', title: 'GORDOINDEX'}); %>
    <body>
  
      <marquee><img src="/public/siteImages/GORDOCHAN TITLE.gif" /></marquee>

        <div class="container">
          <h1>HOLA <%= user.user %></h1>
          <p>BIENVENIDO A GORDOCHAN XD. GORDOCHAN ES UN TABLON DE IMAGENES EXPERIMENTAL QUE HICE YO (GOR) PARA PRACTICAR MI CODEMANCIA. PAGUÉ 2 LUCAS UN VPS PARA VER BIEN LO QUE ERA EL DEPLOY DE UNA PAGINA PERO AL FINAL ME COPÓ TENER UN VPS EN GENERAL ASI QUE GORDOCHAN LO VOY A HOSTEAR HASTA QUE ME QUEDE SIN UN PESO O ME OLVIDE.</p>
          <div class="news">
            <h2>QUE HAY DE NUEVO EN GORDOCHAN XD</h2>
            <ul>
              <li>HICE UN INDEX XD POR AHORA NO HAGO EL DISEÑO ASI QUE SE VA A QUEDAR ASI TODO BOLIVIANO</li>
              <li><a href="/tomp3">GORDOCHAN AHORA EN MP3</a></li>
            </ul>
          </div>
        </div>

        <div class="container">
            <h2>TABLONES</h2>
            <ul>
              <li><a href="/boards/b/">random</a></li>
              <li><a href="/boards/a/">asoplata</a></li>
            </ul>
        </div>
  
      <%- include("components/chat.ejs") %>
</body>
</html>