<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formRegister" action="/register" method="POST">
        <h2>REGISTRARSE</h2>
    
        <label for="user">User</label> 
        <input type="text" name="user" placeholder="Usuario...">
    
        <label for="email">Correo electr칩nico</label> 
        <input type="email" name="email" placeholder="Correo...">
    
        <label for="contrase침a">Contrase침a</label> 
        <input type="password" name="password" placeholder="Contrase침a...">
        <button type="submit">REGISTRAR</button>
        </form>
        <a href="/login">Si ya estas registrado deja de joder .l.</a>
</body>
</html>