<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formRegister" action="/register" method="POST">
        <h2>REGISTRARSE</h2>
    
        <label for="user">User</label> 
        <input type="text" name="user" placeholder="Usuario...">
    
        <label for="contraseña">Contraseña</label> 
        <input type="password" name="password" placeholder="Contraseña...">
        <% if(typeof error !== 'undefined'){ %>
            <%if(error.ipError){ %>
                <span>NO PODES TENER MAS DE 3 CUENTAS. SI CREES QUE SE TRATA DE UN ERROR AVISAME.</span>
            <% } %>

            <% if(error.unknownError){ %>
                <span>ERROR DESCONOCIDO. INTENTALO DE NUEVO MAS TARDE</span>
           <% } %>

           <% if(error.alreadyExists){ %>
            <span>ESE USUARIO YA EXISTE</span>
       <% } %>

           <% if(error.banned){ %>
            <span>ESTAS BANEADO LOL.</span>
       <% } %>

        <%   } %> 
        <button type="submit">REGISTRAR</button>
        </form>
        <p>Al crear una cuenta en gordochan.xyz, el usuario afirma que es mayor de 18 años y se compromete a no publicar nada que viole tanto la ley local como la del código penal de la república Argentina OSEA NO ME SUBAN CP!!!!!!!!!!!</p>
        <a href="/login">VOLVER</a>
</body>
</html>