<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="icon" href="../public/iconos/hueylewis.jpg" type="image/jpg">
    <title>DJ SHARK</title>
</head>
<body>
    <a href="/">INDEX DE GORCHAN.XYZ</a><br>
    <center><img id="banner" src="../public/banners/<%=banner%>"></center>
    <h1>EN MP3</h1>

    <div>
            <label for="anonimo">Buscar</label><input type="text" name="buscar" id="buscarInput"><br>
            <button type="button" id="buscar">Buscar</button>
    </div>

    <marquee><img src="../public/siteImages/GORDOCHAN TITLE.gif"></marquee>

    <div id="videoContainer">
        
    </div>

   <iframe src="https://www.retrogames.cc/embed/8962-kung-fu-master.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>


<script src="../public/scripts/index.js"></script>
<script src="../public/scripts/getvid.js"></script>
</body>

</html>