<!DOCTYPE html>
<html lang="en">
    <%- include("components/head", {style: 'board', icon: 'hueylewis', title: 'DJ SHARK'}); %>
<body>
    <a href="/">INDEX DE GORCHAN.XYZ</a><br>
    <center><img id="banner" src="../public/banners/<%=banner%>"></center>
    <h1>EN MP3</h1>

    <div>
            <label for="anonimo">Buscar</label><input type="text" name="buscar" id="buscarInput"><br>
            <button type="button" id="buscar">Buscar</button>
    </div>

    <marquee><img src="../public/siteImages/GORDOCHAN TITLE.gif"></marquee>

    <div id="videoContainer">
        
    </div>

    <div id="recentDownloads">
        <h2>DESCARGAS RECIENTES XD</h2>
        <% recent.forEach(r => { %>
            <div>
                <span><%=r.user%>: <%=r.filename%></span>
            </div>
       <% }) %>
    </div>

   <iframe src="https://www.retrogames.cc/embed/8962-kung-fu-master.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
<script src="../public/scripts/getvid.js"></script>
</body>

</html>